.notification-bell-container {
    position: relative;
    cursor: pointer;
    font-size: 20px;
}

/* 红点 */
.badge-dot {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 10px;
    height: 10px;
    background: #f56c6c;
    border-radius: 50%;
    box-shadow: 0 0 0 2px white;
}

/* 公告框 */
.notice-box {
    display: none;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    padding: 16px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.15);
    font-size: 14px;
    z-index: 9999;

    width: max-content;
    min-width: 240px;
    max-width: 60vw;
    max-height: 60vh;

    overflow-y: auto;
    white-space: pre-wrap;

    opacity: 0;
    transition: opacity .2s;
}

/* 气泡箭头 */
.notice-arrow {
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

.notice-box.show {
    display: block;
    opacity: 1;
}

/* 滚动条 */
.notice-box::-webkit-scrollbar {
    width: 6px;
}

.notice-box::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 3px;
}
